<p [textContent]="title"></p>
<p> {{ title }}</p>
<button class="btn btn-danger" (click)="direBonjour()">cliquer</button>
<p>
    {{ title | uppercase }}
</p>

<p>
    {{ maDate | date:"dd MMM yyyy" }}
</p>

<p>
    {{ maDate | date:"dd MMM yyyy" | uppercase}}
</p>
<p>
    {{ formation | json }}
</p>
<ul>
    <li *ngFor="let elt of tableau">
        {{ elt }}
    </li>
</ul>

<ul>
    <li *ngFor="let elt of formation|keyvalue">
        {{ elt.key }} {{ elt.value }}
    </li>
</ul>

<p>{{ title | getchar }}</p>
<p>{{ title | getchar:2 }}</p>

<ul>
    <li *ngFor="let elt of tableau | evenvalue"> 
        {{ elt }} 
    </li>
</ul>